Django
pillow
argon2-cffi
asgiref
bcrypt
certifi
cffi
chardet
cryptography
defusedxml
django-crispy-forms
Faker
idna
oauthlib
Pillow
pycparser
PyJWT
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
text-unidecode
urllib3
wincertstore
django-crispy-forms